
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hero {
    background: linear-gradient(45deg, #0096c7, #90e0ef);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #caf0f8;
    padding: 20px;
    text-align: center; 
}

.hero h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: aliceblue;
    margin-top: -4rem;
    margin-bottom: 3.5rem;
}

.hero h1 span {
    color: #033546;
}

textarea {
    width: 100%; 
    max-width: 30rem; 
    height: 250px;
    background: #90e0ef;
    color: #127475;
    font-weight: 400;
    font-size: 1rem;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}

textarea::placeholder {
    font-size: 1.1rem;
    color: rgb(128, 161, 192);
}

.row {
    width: 100%;
    max-width: 30rem;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

button {
    background-color: #03058e;
    color: white;
    font-size: 1rem;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

select {
    flex: 1;
    color: #127475;
    background: #90e0ef;
    height: 50px;
    padding: 0px 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(arrow.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 15px);
    background-position-y: 13px;
}


@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem; 
        margin-top: -2rem;
        margin-bottom: 2rem;
    }

    textarea {
        height: 200px; 
    }

    button {
        padding: 10px 20px; 
    }

    select {
        height: 45px; 
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 1.8rem;
    }

    .row {
        gap: 10px; 
    }
}
